<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">
<head>
<meta charset="UTF-8">
<title>Maths Requests list</title>
</head>
<body layout:fragment="content">
	<div class="d-flex w-100 flex-column">
	<h1 th:text="${'Nouns (' + nounCount + ' found)'}"></h1>
	<table class="table">
		<thead>
			<td></td>
			<td>noun ID</td>
			<td>English Noun</td>
			<td>Welsh Noun</td>
			<td>Welsh Gender</td>
			<td>Description</td>
		</thead>
		<tr th:each="request : ${requests}">
			<td class="row">
				<a class="link text-danger" th:href="@{delete/{id}(id=${request.primaryKey})}">
					<span class="material-icons">delete</span>
				</a>
				<a class="link text-primary" th:href="@{edit/{id}(id=${request.primaryKey})}">
					<span class="material-icons">edit</span>
				</a>
			</td>
			<td th:text="${request.primaryKey}"></td>
			<td th:text="${request.englishNoun}"></td>
			<td th:text="${request.welshNoun}"></td>
			<td th:text="${request.nounGenders}"></td>
			<td th:text="${request.nounDescription}"></td>
		</tr>
	</table>
	</div>
</body>
</html>